<section class="panel m-n no-border">

  <div class="table-responsive">
    <table class="table table-striped text-sm table-bordered">
      <thead>
        <tr>
          <th width="20"><input type="checkbox"></th>
          <th width="80"></th>
          <th class="th-sortable" data-toggle="class">Theme
            <span class="th-sort">
              <i class="icon-sort-down text"></i>
              <i class="icon-sort-up text-active"></i>
              <i class="icon-sort"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="theme in Data.wordpress.themes">
          <td class="v-middle"><input type="checkbox" value="theme" ng-click="updateSelection(theme)"></td>
          <td class="v-middle"><img src="{{theme.image}}" class="thumb" alt=""></td>
          <td class="v-middle">{{theme.name}}</td>

        </tr>

      </tbody>
    </table>
  </div>

</section>