                        <div class="wrapper">
                            <div class="panel">
                                <header class="panel-heading"><p class="h3">Select a plan</p></header>
                                <div class="panel-body no-padder bg-dark lter">
                                    <section class="hbox stretch">
                                        <section>
                                            <div class="wrapper">
                                                <h4>Plan Number One</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, beatae saepe nisi dicta labore cum ad molestias magnam esse tempore.</p>
                                                <ul class="">
                                                    <li>20gb Storage</li>
                                                    <li>20k Traffic</li>
                                                    <li class="lead">$19.99 / mo</li>
                                                </ul>
                                                <form class="form-inline">
                                                    <div class="radio m-l-xs m-r-xs">
                                                        <label>
                                                            <input type="radio">
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="btn btn-white">Select Plan</button>
                                                </form>
                                            </div>
                                        </section>
                                        <section class="bg-success">
                                            <div class="wrapper">
                                                <h4>Most Popular Plan</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, beatae saepe nisi dicta labore cum ad molestias magnam esse tempore.</p>
                                                <ul class="">
                                                    <li>20gb Storage</li>
                                                    <li>20k Traffic</li>
                                                    <li class="lead">$19.99 / mo</li>
                                                </ul>   
                                                <form class="form-inline">
                                                    <div class="radio m-l-xs m-r-xs">
                                                        <label>
                                                            <input type="radio">
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="btn btn-white">Select Plan</button>
                                                </form>
                                                
                                            </div>
                                        </section>
                                        <section>
                                            <div class="wrapper">
                                                <h4>Enterprise Plan</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, beatae saepe nisi dicta labore cum ad molestias magnam esse tempore.</p>
                                                <ul class="">
                                                    <li>20gb Storage</li>
                                                    <li>20k Traffic</li>
                                                    <li class="lead">$19.99 / mo</li>
                                                </ul>
                                                <form class="form-inline">
                                                    <div class="radio m-l-xs m-r-xs">
                                                        <label>
                                                            <input type="radio">
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="btn btn-white">Select Plan</button>
                                                </form>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="wrapper">
                                                <h4>Development Site</h4>
                                                <p>You can start by setting up a temporary (5 day), private development site.  Kick the tires, show a client, then convert it to a paying plan and go live.</p>
                                                <ul class="">
                                                    <li>5gb Storage</li>
                                                    <li>1k Traffic</li>
                                                    <li class="lead">$free / as in beer</li>
                                                </ul>
                                                <form class="form-inline">
                                                    <div class="radio m-l-xs m-r-xs">
                                                        <label>
                                                            <input type="radio">
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="btn btn-white">Start</button>
                                                </form>
                                            </div>
                                        </section>                                        
                                    </section>          
                                </div>


                            </div>





                            <div class="panel">
                                <header class="panel-heading"><p class="h3">Basic Setup</p></header>
                                <div class="panel-body">
                                    <div ng-include src="'partials/patterns/wp.setup.html'"></div>
                                </div>
                            </div>



                            <div class="panel">
                                <header class="panel-heading"><p class="h3">Advanced Setup</p></header>
                                <div class="panel-body">

                                    <form class="form-horizontal" method="get">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Settings</label>
                                            <div class="col-sm-10">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio">
                                                        Create a new installation with the standard WordPress default settings.
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"  checked="checked">
                                                        Use your <a href="#/wordpress">custom wordpress settings</a> to start this project.
                                                    </label>
                                                </div>     

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Advanced Setup</label>
                                            <div class="col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="1" ng-model="toggleState.advancedSetup">
                                                        Setup custom themes, plugins, users, import a database and other advanced options.
                                                    </label><br>
                                                </div>              
                                            </div>
                                        </div>  
                                        <div ng-show="toggleState.advancedSetup">

<!--                                             <div class="form-group">
                                                <label class="col-sm-2 control-label">Advanced Setup</label>
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="1" ng-model="toggleState.advancedSetup">
                                                            Setup custom themes, plugins, users, import a database and other advanced options.
                                                        </label><br>
                                                    </div>              
                                                </div>
                                            </div> -->



<div ng-include src="'partials/patterns/forms/wp-settings/themes.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/plugins.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/admin.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/users.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/database.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/pages.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/menus.html'"></div>





                                            <hr><br>

                                            <button class="btn btn-primary">Save Advanced Settings</button>
                                            <!-- <div ng-include src="'partials/patterns/widgets/wp.options.html'"></div> -->
                                        </div>
                                    </form>


                                    
                                </div>
                            </div>

                            <div class="wrapper text-center bg-success lter">
                                <p class="lead m-n">
                                    <a href="#" class="text-danger"><i class="icon-trash"></i> cancel</a> 
                                    <button class="btn btn-white btn-lg m-l">Create Site</button>       
                                </p>
                            </div>

                            
                        </div>
