
			<div class="modal-body">
				<div class="modal-header">
					<h4 class="modal-title">Select from your plugins</h4>
				</div>
				<div class="table-responsive">
					<table class="table table-striped text-sm table-bordered">
						<thead>
							<tr>
								<th width="20"></th>
								<th>name</th>
								<th>Author</th>
								<th>version</th>
								<th>website</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="plugin in Data.wordpress.plugins">
								<td class="v-middle">
									<input type="checkbox" value="{{plugin}}" check-list="Data.modal.plugins">
								</td>
								<td width="250">
									<div><h5>{{plugin.name}}</h5></div>
								</td>
								<td>
									<div>by: <span ng-bind-html="plugin.author"></span></div>
								</td>
								<td>
									<small class="block">
										{{plugin.version}} 
									</small>
								</td>
								<td>
									<a href="{{plugin.homepage}}" target="_blank">view</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<br>
				<button class="btn btn-primary" data-dismiss="modal">Add Plugin</button>

			</div>
