<div class="modal fade" id="modal-user-details" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body clear">
                    

                    <div class="clearfix m-b">
                        <div class="btn-group pull-right">
                            <p class="text-sm"><i class="icon-ok"></i> User is an Administrator on your account</p>
                            <p class="text-sm"><i class="icon-ok"></i> You can administer User's account</p>
                        </div>
                        <a href="#" class="pull-left thumb m-r">
                            <img src="app/img/avatar.jpg" class="img-circle">
                        </a>
                        <div class="clear">
                            <div class="h3 m-t-xs m-b-xs">John.Smith</div>
                            <small class="text-muted"><i class="icon-map-marker"></i> Company Name</small>
                        </div>                
                    </div>
                            <div class="line line-dashed line-lg pull-in"></div>

                    <p class="h5">You can administer the following sites on User's account</p>
                    <div ng-include="'app/partials/patterns/list/sites/list.collaborator.html'"></div>
                            <div class="line line-dashed line-lg pull-in"></div>


                    <p class="h5">User can administer these sites on your account</p>
                    
                    <div ng-include="'app/partials/patterns/list/sites/list.collaborator.html'"></div>

                    <div class="btn-group wrapper pull-right">
                        <button class="btn btn-white"><i class="icon-plus"></i> Add a site</button>
                    </div>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>