
<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Site Privacy</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Search Engine Visibility</label>
                        <div class="checkbox">
                        	<label>
                        		<input type="checkbox" value="">
                        		Discourage search engines from indexing this site
                        	</label>
                        </div>
                        <span class="help-block m-b-none">It is up to search engines to honor this request.</span>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>

<div class="line line-dashed line-lg pull-in"></div>


<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Discussions</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-6">
                    	<label class="control-label">Default Article Settings</label>
                    	<div class="checkbox">
                    		<label>
                    			<input type="checkbox" value="">
                    			Attempt to notify any blogs linked to from the article 
                    		</label>
                    	</div>
                    	<div class="checkbox">
                    		<label>
                    			<input type="checkbox" value="">
                    			Allow link notifications from other blogs (pingbacks and trackbacks) 
                    		</label>
                    	</div>
                    	<div class="checkbox">
                    		<label>
                    			<input type="checkbox" value="">
                    			Allow people to post comments on new articles 
                    		</label>
                    	</div>                    
                    </div>
                </div>

                <div class="row m-b">
                	<div class="col-lg-6">

                		<label class="control-label">Other Comment Settings</label>
                		<div class="checkbox">
                			<label>
                				<input type="checkbox" value="">
                				Comment author must fill out name and e-mail 
                			</label>
                		</div>
                		<div class="checkbox">
                			<label>
                				<input type="checkbox" value="">
                				Users must be registered and logged in to comment 
                			</label>
                		</div> 
                		<div class="checkbox">
                			<label>
                				<input type="checkbox" value="">
                				Automatically close comments on articles older than  days 
                			</label>
                		</div> 
                		<div class="checkbox">
                			<label>
                				<input type="checkbox" value="">
                				Enable threaded (nested) comments  levels deep  
                			</label>
                		</div> 
                		<div class="checkbox">
                			<label>
                				<input type="checkbox" value="">
                				Break comments into pages with  top level comments per page and the  page displayed by default 
                			</label>
                		</div>
                		<div class="checkbox">
                			Comments should be displayed with the  comments at the top of each page
                		</div>  
                	</div>      
                </div>

                <div class="row m-b">
                	<div class="col-lg-6">
                		<label class="control-label">E-mail me whenever</label>
                		<div class="checkbox">
                			<label>
                				<input type="checkbox" value="">
                				Anyone posts a comment   
                			</label>
                		</div> 
                		<div class="checkbox">
                			<label>
                				<input type="checkbox" value="">
                				comment is held for moderation  
                			</label>
                		</div> 
                	</div>
                </div>

            </div>
        </div>
    </form>

</section>


<div class="line line-dashed line-lg pull-in"></div>


<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Comments</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-6">
                        <label class="control-label">Approval</label>
                        <div class="checkbox">
                        	<label>
                        		<input type="checkbox" value="">
                        		Comment author must have a previously approved comment  
                        	</label>
                        </div> 
                        <div class="checkbox">
                        	<label>
                        		Hold a comment in the queue if it contains  or more links. (A common characteristic of comment spam is a large number of hyperlinks.)  
                        	</label>
                        </div> 
                        <div class="checkbox">
                        	<label>
                        		<input type="checkbox" value="">
                        		An administrator must always approve the comment   
                        	</label>
                        </div>                         
                    </div>
                </div>

                <div class="row m-b">
                	<div class="col-lg-6">
						<label for="" class="control-label">Filters</label>
                        <div class="checkbox">
                        	<label>
                        		When a comment contains any of these words in its content, name, URL, e-mail, or IP, it will be held in the moderation queue. One word or IP per line. It will match inside words, so “press” will match “WordPress”.
                        		<br>
                        		<textarea name="" id="" cols="30" rows="10"></textarea>
                        	</label>
                        </div> 
                        <div class="checkbox">
                        	<label>
                        		When a comment contains any of these words in its content, name, URL, e-mail, or IP, it will be marked as spam. One word or IP per line. It will match inside words, so “press” will match “WordPress”.
                        		<br>
                        		<textarea name="" id="" cols="30" rows="10"></textarea>
                        	</label>
                        </div> 						
                	</div>
                </div>  
            </div>
        </div>
    </form>

</section>

<div class="line line-dashed line-lg pull-in"></div>



<section class="padder-v">
    
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="inputEmail1" class="col-lg-2 control-label h4">Media</label>
			<div class="col-lg-10">
				<br>
				<div class="row m-b">
					<div class="col-lg-6">

						<label class="control-label">Thumbnail Size</label>
						<p class="form-control-static">
							Width <input name="medium_size_w" type="number" step="1" min="0" id="medium_size_w" value="150" class="small-text">
							Height <input name="medium_size_w" type="number" step="1" min="0" id="medium_size_w" value="150" class="small-text">
						</p>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Crop thumbnail to exact dimensions (normally thumbnails are proportional)
							</label>
						</div>
					</div>
				</div>
				<div class="row m-b">

					<div class="col-lg-6">
						<label class="control-label">Medium size</label>
						<p class="form-control-static">
							Width <input name="medium_size_w" type="number" step="1" min="0" id="medium_size_w" value="300" class="small-text">
							Height <input name="medium_size_w" type="number" step="1" min="0" id="medium_size_w" value="300" class="small-text">
						</p>
					</div>      
				</div>

				<div class="row m-b">

					<div class="col-lg-6">
						<label class="control-label">Large Size</label>
						<p class="form-control-static">
							Width <input name="medium_size_w" type="number" step="1" min="0" id="medium_size_w" value="1024" class="small-text">
							Height <input name="medium_size_w" type="number" step="1" min="0" id="medium_size_w" value="1024" class="small-text">
						</p>
					</div> 


				</div>
			</div>
		</div>
	</form>

</section>

<div class="line line-dashed line-lg pull-in"></div>




<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Permalinks</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-12">

                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Default</span> http://projects.wp/?p=123
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Day and name</span> http://projects.wp/2013/10/15/sample-post/
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Month and name</span> http://projects.wp/2013/10/sample-post/
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Numeric</span> http://projects.wp/archives/123
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Post name</span> http://projects.wp/sample-post/
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Custom Structure</span> http://projects.wp/ <input type="text">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>

<div class="line line-dashed line-lg pull-in"></div>



<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Pages</label>
            <div class="col-lg-10">
                <br>
                <section>
                	<div class="row">
                		<div class="input-group col-md-6">
                			<input type="text" ng-model="pageName" class="form-control">
                			<span class="input-group-btn">
                				<button class="btn btn-white" type="button" ng-click="Data.newsite.addPage(pageName)">Add Page</button>
                			</span>
                		</div>
                	</div>
                	<div class="dd col-md-6" id="nestable3">
                		<ol class="dd-list">
                			<li class="dd-item dd3-item" data-id="{{$index}}" ng-repeat="page in Data.defaults.pages">
                				<div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">{{page.title}}</div>
                			</li>              
                		</ol>
                	</div>

                </section> 
            </div>
        </div>
    </form>

</section>


<div class="line line-dashed line-lg pull-in"></div>


<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Themes</label>
            <div class="col-lg-10">
                <br>
                <section ng-show="Data.wordpress.defaults.themes.length > 0">
                	<div class="row">
                		<div class="col-lg-6">
                			<table class="table table-striped">
                				<tbody>
                					<tr ng-repeat="theme in Data.wordpress.defaults.themes">
                						<td width="80"><img src="{{theme.image}}" alt="" class="thumb"></td>
                						<td>{{theme.name}}</td>
                					</tr>
                				</tbody>
                			</table>                                
                		</div>
                	</div>

                </section>

                <section>

                	<div>
                		<button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="Data.wordpress.defaults.themes" 
                            modal-id="modal-your-themes" 
                            template="app/partials/modals/modal.your.themes.html" 
                            title="my modal">
                                <i class="icon-bar-chart text"></i> Your Themes
                            </button> 
                		<button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-uploads" 
                            template="app/partials/modals/modal.upload.html" 
                            title="my modal">
                                <i class="icon-cloud-upload text"></i> upload
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-github" 
                            template="app/partials/modals/modal.github.html" 
                            title="my modal">
                                <i class="icon-github text"></i> github
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-dropbox" 
                            template="app/partials/modals/modal.dropbox.html" 
                            title="my modal">
                                <i class="icon-dropbox text"></i> dropbox
                            </button>
                	</div>

                </section>
            </div>
        </div>
    </form>

</section>


<div class="line line-dashed line-lg pull-in"></div>



<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Plugins</label>
            <div class="col-lg-10">
                <br>

                    <section ng-show="Data.newsite.defaults.plugins.length > 0">
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="plugin in Data.newsite.defaults.plugins">
                                            <td>{{plugin.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </div>
                        </div>
                        
                    </section>                    

                    <section>

                        <div>
                            <button class="btn btn-white  navbar-btn" data-toggle="modal" href="#modal-your-plugins">
                                <i class="icon-bar-chart text"></i> Your Bundles and Plugins
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-uploads" 
                            template="app/partials/modals/modal.upload.html" 
                            title="my modal">
                                <i class="icon-cloud-upload text"></i> upload
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-github" 
                            template="app/partials/modals/modal.github.html" 
                            title="my modal">
                                <i class="icon-github text"></i> github
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-dropbox" 
                            template="app/partials/modals/modal.dropbox.html" 
                            title="my modal">
                                <i class="icon-dropbox text"></i> dropbox
                            </button>
                        </div>

                    </section> 


            </div>
        </div>
    </form>

</section>


<div class="line line-dashed line-lg pull-in"></div>




<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Database</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-6">
                                <input type="file" class="form-control" id="exampleInputEmail1" placeholder="Upload a database file">

                    </div>
                </div>
            </div>
        </div>
    </form>

</section>

<div class="line line-dashed line-lg pull-in"></div>


<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Menus</label>
            <div class="col-lg-10">
                <br>
                    <section>

                        <div class="row">
                            <div class="input-group col-md-6">
                                <input type="text" ng-model="menuName" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-white" type="button" ng-click="Data.newsite.addMenu(menuName)">Add Menu</button>
                                </span>
                            </div>
                        </div>

                    </section> 
            </div>
        </div>
    </form>

</section>


<div class="line line-dashed line-lg pull-in"></div>



<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Admin</label>
            <div class="col-lg-10">
                <br>

                    <section>

                        <div class="row m-b-lg">
                            <div class="col-lg-3">
                                <label class="control-label">Admin User Name</label>
                                <input type="text" class="form-control" placeholder="admin">
                            </div>
                        </div>
                        <div class="row m-b-lg">
                            <div class="col-lg-6">
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control" placeholder="your@email.address.com">

                            </div>
                        </div>
                        <div class="row m-b-lg">
                            <div class="col-lg-3">

                                <label class="control-label">Password</label>
                                <input type="password" class="form-control" placeholder="Password">

                            </div>
                            <div class="col-lg-3">

                                <label class="control-label">Password (again)</label>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>                            

                        </div>

                    </section>

            </div>
        </div>
    </form>

</section>


<div class="line line-dashed line-lg pull-in"></div>



<section class="padder-v">
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Users</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-6">
                        <button class="btn btn-white  navbar-btn" data-toggle="modal" href="#modal-new-wp-user">
                            <i class="icon-user text"></i> Add an aditional WordPress user
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>


<div class="line line-dashed line-lg pull-in"></div>


<section class="padder-v">
	    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4"></label>
            <div class="col-lg-10">
                <button class="btn btn-lg btn-primary">Save Settings</button>
            </div>
        </div>
    </form>
</section>