<div class="wrap">
<div id="icon-options-general" class="icon32"><br></div><h2>Media Settings</h2>

<form action="options.php" method="post">
<input type="hidden" name="option_page" value="media"><input type="hidden" name="action" value="update"><input type="hidden" id="_wpnonce" name="_wpnonce" value="6685bcc51b"><input type="hidden" name="_wp_http_referer" value="/wp-admin/options-media.php">
<h3 class="title">Image sizes</h3>
<p>The sizes listed below determine the maximum dimensions in pixels to use when adding an image to the Media Library.</p>

<table class="form-table">
<tbody><tr valign="top">
<th scope="row">Thumbnail size</th>
<td>
<label for="thumbnail_size_w">Width</label>
<input name="thumbnail_size_w" type="number" step="1" min="0" id="thumbnail_size_w" value="150" class="small-text">
<label for="thumbnail_size_h">Height</label>
<input name="thumbnail_size_h" type="number" step="1" min="0" id="thumbnail_size_h" value="150" class="small-text"><br>
<input name="thumbnail_crop" type="checkbox" id="thumbnail_crop" value="1" checked="checked">
<label for="thumbnail_crop">Crop thumbnail to exact dimensions (normally thumbnails are proportional)</label>
</td>
</tr>

<tr valign="top">
<th scope="row">Medium size</th>
<td><fieldset><legend class="screen-reader-text"><span>Medium size</span></legend>
<label for="medium_size_w">Max Width</label>
<input name="medium_size_w" type="number" step="1" min="0" id="medium_size_w" value="300" class="small-text">
<label for="medium_size_h">Max Height</label>
<input name="medium_size_h" type="number" step="1" min="0" id="medium_size_h" value="300" class="small-text">
</fieldset></td>
</tr>

<tr valign="top">
<th scope="row">Large size</th>
<td><fieldset><legend class="screen-reader-text"><span>Large size</span></legend>
<label for="large_size_w">Max Width</label>
<input name="large_size_w" type="number" step="1" min="0" id="large_size_w" value="1024" class="small-text">
<label for="large_size_h">Max Height</label>
<input name="large_size_h" type="number" step="1" min="0" id="large_size_h" value="1024" class="small-text">
</fieldset></td>
</tr>

</tbody></table>


<h3 class="title">Uploading Files</h3>
<table class="form-table">
<tbody><tr>
<th scope="row" colspan="2" class="th-full">
<label for="uploads_use_yearmonth_folders">
<input name="uploads_use_yearmonth_folders" type="checkbox" id="uploads_use_yearmonth_folders" value="1" checked="checked">
Organize my uploads into month- and year-based folders</label>
</th>
</tr>

</tbody></table>


<p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Save Changes"></p>
</form>

</div>