<div  new-site>

<div class="jumbotron">
    <h2>Create a new site</h2>
</div>

<section>
   <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Basic WordPress Setup</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Site Title</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter title">
                    </div>
                </div>
                <div class="row m-b">
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Description</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Site Description">                        
                    </div>
                </div>


                <div class="row m-b">
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Favicon</label>
                        <input type="file" class="form-control" id="exampleInputEmail1" placeholder="Upload a favicon">
                    </div>
                </div>


                <div class="row m-b">
                    <div class="col-lg-12">
                        <label for="exampleInputEmail1">Permalinks</label>

                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Default</span> http://projects.wp/?p=123
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Day and name</span> http://projects.wp/2013/10/15/sample-post/
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Month and name</span> http://projects.wp/2013/10/sample-post/
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Numeric</span> http://projects.wp/archives/123
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Post name</span> http://projects.wp/sample-post/
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Custom Structure</span> http://projects.wp/ <input type="text">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>



<section>
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Advanced Setup</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-10">
                        <label for="exampleInputEmail1">Default Settings</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio">
                                Create a new installation with the standard WordPress default settings.
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio"  checked="checked">
                                Use your <a href="#/wordpress">custom wordpress settings</a> to start this project.
                            </label>
                        </div>  
                    </div>
                </div>                        <button ng-click="toggleState.offCanvasModal = !toggleState.offCanvasModal">toggle modal</button>

                <div class="row m-b">
                    <div class="col-lg-10">
                        <label for="exampleInputEmail1">Custom Configuration</label>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="1" ng-model="toggleState.advancedSetup">
                                Setup custom themes, plugins, users, import a database and other advanced options.
                            </label><br>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-show="toggleState.advancedSetup">
<div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group padder-v">
                <label for="inputEmail1" class="col-lg-2 control-label ">Themes</label>
                <div class="col-lg-10">
                       
                    <section ng-show="options.themes.length > 0">
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="theme in options.themes">
                                            <td width="80"><img src="{{theme.image}}" alt="" class="thumb"></td>
                                            <td>{{theme.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </div>
                        </div>
                        
                    </section>

                    <section>

                        <div>
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options.themes" 
                            modal-id="modal-your-themes" 
                            template="app/partials/modals/modal.your.themes.html" 
                            title="my modal">
                                <i class="icon-bar-chart text"></i> Your Themes
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-uploads" 
                            template="app/partials/modals/modal.upload.html" 
                            title="my modal">
                                <i class="icon-cloud-upload text"></i> upload
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-github" 
                            template="app/partials/modals/modal.github.html" 
                            title="my modal">
                                <i class="icon-github text"></i> github
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-dropbox" 
                            template="app/partials/modals/modal.dropbox.html" 
                            title="my modal">
                                <i class="icon-dropbox text"></i> dropbox
                            </button>
                        </div>

                    </section>
                </div>
            </div>
<div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group padder-v">
                <label for="inputEmail1" class="col-lg-2 control-label ">Plugins</label>
                <div class="col-lg-10">

                    <section ng-show="newsite.plugins.length > 0">
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="plugin in newsite.plugins">
                                            <td>{{plugin.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </div>
                        </div>
                        
                    </section>                    

                    <section>

                        <div>
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options.plugins" 
                            modal-id="modal-your-plugins" 
                            template="app/partials/modals/modal.your.plugins.html" 
                            title="my modal">
                                <i class="icon-bar-chart text"></i> Your Bundles and Plugins
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-uploads" 
                            template="app/partials/modals/modal.upload.html" 
                            title="my modal">
                                <i class="icon-cloud-upload text"></i> upload
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-github" 
                            template="app/partials/modals/modal.github.html" 
                            title="my modal">
                                <i class="icon-github text"></i> github
                            </button> 
                            <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            output="options" 
                            modal-id="modal-dropbox" 
                            template="app/partials/modals/modal.dropbox.html" 
                            title="my modal">
                                <i class="icon-dropbox text"></i> dropbox
                            </button>
                        </div>

                    </section> 
                </div>
            </div>     
<div class="line line-dashed line-lg pull-in"></div>                   
            <div class="form-group padder-v">
                <label for="inputEmail1" class="col-lg-2 control-label ">Setup Admin User</label>
                <div class="col-lg-10">

                    <section>

                        <div class="row m-b-lg">
                            <div class="col-lg-3">
                                <label class="control-label">Admin User Name</label>
                                <input type="text" class="form-control" placeholder="admin">
                            </div>
                        </div>
                        <div class="row m-b-lg">
                            <div class="col-lg-6">
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control" placeholder="your@email.address.com">

                            </div>
                        </div>
                        <div class="row m-b-lg">
                            <div class="col-lg-3">

                                <label class="control-label">Password</label>
                                <input type="password" class="form-control" placeholder="Password">

                            </div>
                            <div class="col-lg-3">

                                <label class="control-label">Password (again)</label>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>                            

                        </div>

                    </section> 
                </div>
            </div>
<div class="line line-dashed line-lg pull-in"></div>             
            <div class="form-group padder-v">
                <label for="inputEmail1" class="col-lg-2 control-label">Additional Users</label>
                <div class="col-lg-10">

                    <section ng-show="newsite.wpuser.length > 0">
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="user in newsite.wpuser">
                                            <td>{{user.username}}</td>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </div>
                        </div>
                        
                    </section>

                    <section>

                        <button class="btn btn-white  navbar-btn" data-toggle="modal" href="#modal-new-wp-user">
                            <i class="icon-user text"></i> Add an aditional WordPress user
                        </button> 

                    </section> 
                </div>
            </div> 
<div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group padder-v">
                <label for="inputEmail1" class="col-lg-2 control-label">Database</label>
                <div class="col-lg-10">

                    <section>
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="file" class="form-control" id="exampleInputEmail1" placeholder="Upload a database file">

                            </div>
                        </div>


                    </section> 
                </div>
            </div>             
<div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group padder-v">
                <label for="inputEmail1" class="col-lg-2 control-label">Custom Pages</label>
                <div class="col-lg-10">

                    <section>
                        <div class="row">
                            <div class="input-group col-md-6">
                                <input type="text" ng-model="page.title" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-white" type="button" ng-click="addItem(page, newsite.pages)">Add Page</button>
                                </span>
                            </div>
                        </div>
                        <div class="dd col-md-6" id="nestable3">
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="{{$index}}" ng-repeat="page in newsite.pages">
                                    <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">{{page.title}}</div>
                                </li>              
                            </ol>
                        </div>

                    </section> 
                </div>
            </div> 
<div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group padder-v">
                <label for="inputEmail1" class="col-lg-2 control-label">Menus</label>
                <div class="col-lg-10">

                    <section>

                        <div class="row">
                            <div class="input-group col-md-6">
                                <input type="text" ng-model="menu.name" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-white" type="button" ng-click="addItem(menu, newsite.menus)">Add Menu</button>
                                </span>
                            </div>
                        </div>
                        <div class="dd col-md-6" id="nestable3">
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="{{$index}}" ng-repeat="menu in newsite.menus">
                                    <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">{{menu.name}}</div>
                                </li>              
                            </ol>
                        </div>
                    </section> 
                </div>
            </div> 

        </div>


    </form>

</section>





    <header class="panel-heading"><p class="h3">Select a plan</p></header>

<section class="hbox stretch  bg-dark lter">
    <section>
        <div class="wrapper">
            <h4>Plan Number One</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, beatae saepe nisi dicta labore cum ad molestias magnam esse tempore.</p>
            <ul class="">
                <li>20gb Storage</li>
                <li>20k Traffic</li>
                <li class="lead">$19.99 / mo</li>
            </ul>
            <form class="form-inline">
                <div class="radio m-l-xs m-r-xs">
                    <label>
                        <input type="radio">
                    </label>
                </div>
                <button type="submit" class="btn btn-white">Select Plan</button>
            </form>
        </div>
    </section>
    <section class="bg-success">
        <div class="wrapper">
            <h4>Most Popular Plan</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, beatae saepe nisi dicta labore cum ad molestias magnam esse tempore.</p>
            <ul class="">
                <li>20gb Storage</li>
                <li>20k Traffic</li>
                <li class="lead">$19.99 / mo</li>
            </ul>   
            <form class="form-inline">
                <div class="radio m-l-xs m-r-xs">
                    <label>
                        <input type="radio">
                    </label>
                </div>
                <button type="submit" class="btn btn-white">Select Plan</button>
            </form>

        </div>
    </section>
    <section>
        <div class="wrapper">
            <h4>Enterprise Plan</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, beatae saepe nisi dicta labore cum ad molestias magnam esse tempore.</p>
            <ul class="">
                <li>20gb Storage</li>
                <li>20k Traffic</li>
                <li class="lead">$19.99 / mo</li>
            </ul>
            <form class="form-inline">
                <div class="radio m-l-xs m-r-xs">
                    <label>
                        <input type="radio">
                    </label>
                </div>
                <button type="submit" class="btn btn-white">Select Plan</button>
            </form>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <h4>Development Site</h4>
            <p>You can start by setting up a temporary (5 day), private development site.  Kick the tires, show a client, then convert it to a paying plan and go live.</p>
            <ul class="">
                <li>5gb Storage</li>
                <li>1k Traffic</li>
                <li class="lead">$free / as in beer</li>
            </ul>
            <form class="form-inline">
                <div class="radio m-l-xs m-r-xs">
                    <label>
                        <input type="radio">
                    </label>
                </div>
                <button type="submit" class="btn btn-white">Start</button>
            </form>
        </div>
    </section>                                        
</section>  

<br>
<br>

 <div class="wrapper text-center lter">
                                <p class="lead m-n">
                                    <a class="btn btn-success btn-lg m-l" href="#/sites/build" >Create Site</a>       
                                </p>
                            </div>

<br>
<br>
<br>


                                                
</div>