<div ng-init="dev=false">

	<div class="message-area ng-scope" ng-show="dev=='done'">
		<div class="alert alert-success m-t m-b-lg">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h2 class="m-n">Contradulations!</h2>
			<p>You are the proud owner of a new development site!  </p>
			
		</div>
	</div>

		<div ng-show="dev==false" class="message empty" ng-hide="showSiteManagers==true">
			<h3 class="text-thin">Create a Development Site!</h3>
			<p>You can spin up a development site for up to a week, where you can preview changes or new updates to a client before it goes live.
				When you create a dev site, we can migrate all your content over automatically.</p>
				<p>the dev site will be located at www.dev.mysite.com</p>
				
				<button class="btn btn-sm btn-white" ng-click="dev=true" >Create your dev site</button>
		</div>

		<div ng-show="dev==true">
			    <section class="panel no-borders" style="padding:100px 0;">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="wrapper">
                            <p>Current Status:</p>
                            <p class="h2 font-bold">We are building your site...</p>
                            <div class="progress progress-xs progress-striped active m-b-sm">
                              <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="100%%" style="width: 100%%"></div>
                            </div>
                            <div class="text-sm">this is a status item of what we are doing.</div>
                          </div>
                        </div>
                        <div class="col-xs-6 wrapper text-center">
                          <div class="inline m-t-sm" ng-if="dev==true">
                            <div easy-pie-dev class="easypiechart easyPieChart" data-percent="100" data-line-width="8" data-bar-color="#468847" data-track-color="#fff" data-scale-color="false" data-size="100" style="width: 100px; height: 100px; line-height: 100px;">
                              <span class="h2">100</span>%
                            <canvas width="100" height="100"></canvas></div>
                          </div>
                        </div>
                      </div>

                    </section>
		</div>


<div ng-show="dev=='done'" >
	
<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Development Site Actions</p>
	</header>
	<div class="panel-body text-center">              

		<button class="btn btn-white btn-lg" oc-show-option template="app/templates/modals/comingsoon.html">Import</button>	
		<button class="btn btn-white btn-lg" oc-show-option template="app/templates/modals/comingsoon.html">Migrate Site</button>	
		
	</div>
</section>

<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Development Site Info</p>
	</header>
	<div class="panel-body">              

		<table class="table">
				<tbody>
					<tr>
						<td width="100" class="text-right">
							URL
						</td>
						<td>http://www.site.com</td>
					</tr>
					<tr>
						<td width="100" class="text-right">
							FTP
						</td>
						<td>
							<p>ftp.mysite.com</p>
							<p>user:ftpuser</p>
							<p>pass:*****</p>
						</td>
					</tr>
					<tr>
						<td width="100" class="text-right">
							Remote DB
						</td>
						<td>
							<p>db.mysite.com</p>
							<p>db name: wpdb9878</p>
							<p>prefix:wp_39848_</p>
							<p>user:mysqluser</p>
							<p>pass:*****</p>
						</td>
					</tr>					
				</tbody>
			</table>	
		
	</div>
</section>

<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Development Site Themes</p>
	</header>
	<div class="panel-body no-padder">              

		<table class="table table-striped">
			<tbody>
				<tr>
					<td width="100">
						<img src="assets/screenshot.png" alt="" class="thumb thumb-lg">
					</td>
					<td>
						<h3>Twenty Thirteen</h3>
						<small>by: <a href="#">The WordPress Team</a></small>
					</td>
					<td class="text-right v-middle"><span><i class="icon-check"></i> current theme</span></td>
				</tr>
				<tr>
					<td width="100">
						<img src="assets/screenshot1.png" alt="" class="thumb thumb-lg">
					</td>
					<td>
						<h3>HTML5 blank theme</h3>
						<small>by: <a href="#">Anon</a></small>
					</td>
					<td class="text-right v-middle"><a bs href="#">activate</a></td>
				</tr>				
			</tbody>
		</table>

	</div>
</section>

<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Development Site Plugins</p>
	</header>
	<div class="panel-body no-padder">              

		<table class="table table-striped">
			<tbody>
				<tr>
					<td class="plugin-title" width="200">
						<strong>Akismet</strong>
						<div class="row-actions visible">
							<span class="activate">
								<a href="plugins.php?action=activate&amp;plugin=akismet%2Fakismet.php&amp;plugin_status=all&amp;paged=1&amp;s&amp;_wpnonce=f4c5d74825" title="Activate this plugin" class="edit">
									Activate
								</a> | 
							</span>
								
							<span class="edit">
								<a href="plugin-editor.php?file=akismet/akismet.php" title="Open this file in the Plugin Editor" class="edit">Edit</a> | 
							</span>
							<span class="delete">
								<a href="plugins.php?action=delete-selected&amp;checked%5B0%5D=akismet%2Fakismet.php&amp;plugin_status=all&amp;paged=1&amp;s&amp;_wpnonce=1d771d9e3f" title="Delete this plugin" class="delete">Delete</a>
							</span>
						</div>
					</td>
					<td class="column-description desc">
						<div class="plugin-description">
							<p>Used by millions, Akismet is quite possibly the best way in the world to <strong>protect your blog from comment and trackback spam</strong>. It keeps your site protected from spam even while you sleep. To get started: 1) Click the "Activate" link to the left of this description, 2) <a href="http://akismet.com/get/?return=true">Sign up for an Akismet API key</a>, and 3) Go to your Akismet configuration page, and save your API key.</p>
						</div>
						<div class="inactive second plugin-version-author-uri">
							Version 2.5.9 | By <a href="http://automattic.com/wordpress-plugins/" title="Visit author homepage">Automattic</a> | <a href="http://akismet.com/?return=true" title="Visit plugin site">Visit plugin site</a>
						</div>
					</td>
				</tr>

				<tr id="simple-page-ordering" class="inactive">

					<td class="plugin-title">
						<strong>Simple Page Ordering</strong><div class="row-actions visible"><span class="activate"><a href="plugins.php?action=activate&amp;plugin=simple-page-ordering%2Fsimple-page-ordering.php&amp;plugin_status=all&amp;paged=1&amp;s&amp;_wpnonce=f716ecc01f" title="Activate this plugin" class="edit">Activate</a> | </span><span class="edit"><a href="plugin-editor.php?file=simple-page-ordering/simple-page-ordering.php" title="Open this file in the Plugin Editor" class="edit">Edit</a> | </span><span class="delete"><a href="plugins.php?action=delete-selected&amp;checked%5B0%5D=simple-page-ordering%2Fsimple-page-ordering.php&amp;plugin_status=all&amp;paged=1&amp;s&amp;_wpnonce=1d771d9e3f" title="Delete this plugin" class="delete">Delete</a></span></div>
					</td>
					<td class="column-description desc">
						<div class="plugin-description"><p>Order your pages and hierarchical post types using drag and drop on the built in page list. For further instructions, open the "Help" tab on the Pages screen.</p></div>
						<div class="inactive second plugin-version-author-uri">Version 2.1.2 | By <a href="http://10up.com" title="Visit author homepage">Jake Goldman, 10up</a> | <a href="http://10up.com/plugins/simple-page-ordering-wordpress/" title="Visit plugin site">Visit plugin site</a></div>
					</td>
				</tr>
				<tr id="w3-total-cache" class="inactive">
					<td class="plugin-title">
						<strong>W3 Total Cache</strong><div class="row-actions visible"><span class="activate"><a href="plugins.php?action=activate&amp;plugin=w3-total-cache%2Fw3-total-cache.php&amp;plugin_status=all&amp;paged=1&amp;s&amp;_wpnonce=79b3f46cd2" title="Activate this plugin" class="edit">Activate</a> | </span><span class="edit"><a href="plugin-editor.php?file=w3-total-cache/w3-total-cache.php" title="Open this file in the Plugin Editor" class="edit">Edit</a> | </span><span class="delete"><a href="plugins.php?action=delete-selected&amp;checked%5B0%5D=w3-total-cache%2Fw3-total-cache.php&amp;plugin_status=all&amp;paged=1&amp;s&amp;_wpnonce=1d771d9e3f" title="Delete this plugin" class="delete">Delete</a></span></div>
					</td>
					<td class="column-description desc">
						<div class="plugin-description"><p>The highest rated and most complete WordPress performance plugin. Dramatically improve the speed and user experience of your site. Add browser, page, object and database caching as well as minify and content delivery network (CDN) to WordPress.</p></div>
						<div class="inactive second plugin-version-author-uri">Version 0.9.3 | By <a href="http://www.linkedin.com/in/w3edge" title="Visit author homepage">Frederick Townes</a> | <a href="http://www.w3-edge.com/wordpress-plugins/w3-total-cache/" title="Visit plugin site">Visit plugin site</a></div>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</section>

<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Development Site Users</p>
	</header>
	<div class="panel-body no-padder">              
		<table class="table table-striped m-n">

			<tbody>

				<tr>
					<td class="v-middle" width="40">
						<div class="btn-group">
							<button class="btn btn-white btn-xs dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i></button>
							<ul class="dropdown-menu" style="left:100%; bottom:inherit; top:-10px;">
								<li><a href="#"><i class="icon-beaker"></i> Delete User</a></li>
							</ul>
						</div>
					</td>				
					<td width="40">
						<img alt="" src="http://1.gravatar.com/avatar/9fafbf52cb59a733bc51f1c8f1e2aa69?s=32&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G" class="avatar avatar-32 photo" height="32" width="32"> 
					</td>
					<td class="v-middle">
						<a bs oc-show-option template="app/templates/modals/comingsoon.html" input="Data" output="user" text="admin" href="#modal-user-details" class="block">admin</a></td>
					<td class="v-middle">email@email.com</td>
					<td class="v-middle"><span>Administrator</span></td>
					<td class="v-middle"><span>3 posts</span></td>
				</tr>
			</tbody>
		</table>	

	</div>
</section>


<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Development Site Database</p>
	</header>
	<div class="panel-body no-padder">              
		<table class="table table-striped m-n">
			<thead>
				<tr>
					<th></th>
					<th>db name</th>
					<th>table prefix</th>
					<th>admin</th>
					<th>password</th>
					<th>size</th>
					<th>backup</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td class="v-middle" width="40">
						<div class="btn-group">
							<button class="btn btn-white btn-xs dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i></button>
							<ul class="dropdown-menu" style="left:100%; bottom:inherit; top:-10px;">
								<li><a href="#">Create Backup</a></li>
								<li><a href="#">Download sql export</a></li>
								<li><a href="#">migrate to dev</a></li>
							</ul>
						</div>
					</td>				
					<td>
						wp_db_123
					</td>
					<td class="v-middle">
						wp_234253_
					</td>
					<td>dbadminuser</td>
					<td>********</td>
					<td>120mb</td>
					<td>Yesterday @ 3:00pm</td>
				</tr>
			</tbody>
		</table>	

	</div>
</section>


<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Development Site Options</p>
	</header>
	<div class="panel-body" ng-switch="wpoptions" ng-init="wpoptions">
		<div>
			<button class="btn btn-white btn-sm" ng-click="wpoptions='general'">general</button>
			<button class="btn btn-white btn-sm" ng-click="wpoptions='writing'">writing</button>
			<button class="btn btn-white btn-sm" ng-click="wpoptions='reading'">reading</button>
			<button class="btn btn-white btn-sm" ng-click="wpoptions='discussion'">discussion</button>
			<button class="btn btn-white btn-sm" ng-click="wpoptions='media'">media</button>
			<button class="btn btn-white btn-sm" ng-click="wpoptions='permalinks'">permalinks</button>
						<button class="btn btn-sm btn-white" ng-click="wpoptions='none'">close</button>

		</div>           
		
		<div ng-switch-when="general">
			 <div ng-include src="'app/templates/wordpress/general.html'"></div>
		</div>

		<div ng-switch-when="writing">
			 <div ng-include src="'app/templates/wordpress/writing.html'"></div>
		</div>
		<div ng-switch-when="reading">
			 <div ng-include src="'app/templates/wordpress/reading.html'"></div>
		</div>
		<div ng-switch-when="discussion">
			 <div ng-include src="'app/templates/wordpress/discussion.html'"></div>
		</div>
		<div ng-switch-when="media">
			 <div ng-include src="'app/templates/wordpress/media.html'"></div>
		</div>
		<div ng-switch-when="permalinks">
			 <div ng-include src="'app/templates/wordpress/permalinks.html'"></div>
		</div>


	</div>
</section>

</div><!-- dev container -->



</div>