<div class="row">
	<div class="col-lg-8">
		<section class="panel m-t-lg">
			<header class="panel-heading">
				<p class="h4 m-n">Your Activity For November</p>
			</header>
			<div class="panel-body">              

				<table class="table">
					<tbody>
						<tr>
							<td>
								Visits
							</td>
							<td width="80%">
								<div class="progress m-n">
									<div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="40%" style="width: 80%"></div>
								</div>
							</td>
							<td>
								1,526
							</td>
						</tr>
						<tr>
							<td>
								Bandwidth
							</td>
							<td width="80%">
								<div class="progress m-n">
									<div class="progress-bar progress-bar-danger" data-toggle="tooltip" data-original-title="40%" style="width: 95%"></div>
								</div>
							</td>
							<td>
								12.4GB
							</td>
						</tr>				
						<tr>
							<td>
								Storage
							</td>
							<td width="80%">
								<div class="progress m-n">
									<div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="40%" style="width: 17%"></div>
								</div>
							</td>
							<td>
								1.2GB
							</td>
						</tr>
					</tbody>
				</table>

			</div>


		</section>

		<section class="panel m-t-lg">
			<header class="panel-heading">
				<p class="h4 m-n">Your Response Time For November</p>
			</header>
			<div class="panel-body">              

				<div class="row">
					<div class="col-md-8">
						<div class="sparkline" data-type="line" data-resize="true" data-height="100" data-width="100%" data-line-width="1" data-line-color="#afcf6f" data-spot-color="#afcf6f" data-fill-color="rgba(240,240,240,0.5)" data-highlight-line-color="#e1e5e9" data-spot-radius="4" data-data="[120,250,200,325,400,380,250,320,345,250,250,250,200,325,300,365,250,210,200,180,150,160,250,250,250,200,300,310,330,250,320,205]" data-composite-config="{&quot;lineColor&quot;:&quot;#dddddd&quot;,&quot;fillColor&quot;:&quot;#ffffff&quot;,&quot;spotColor&quot;:&quot;#dddddd&quot;,&quot;spotRadius&quot;:&quot;4&quot;}" data-composite-data="[325,220,250,200,350,380,250,320,345,250,250,250,200,325,300,365,250,210,200,180,150,160,250,250,250,200,300,310,330,250,320,205]">
							<canvas style="display: inline-block; width: height: 100px; vertical-align: top;" height="100"></canvas>
						</div>				
					</div>
					<div class="col-md-4 text-center">
						<h4 class="thin">Average Response Time</h4>
						<h2 class="text-success">90ms</h2>
					</div>
				</div>
			</div>


		</section>

	</div>
	<div class="col-lg-4">
		<section class="panel m-t-lg">
			<header class="panel-heading">
				<p class="h4 m-n">Your Last Month's Invoice - October</p>
			</header>	
			<div class="panel-body text-center">              

						<p>Your invoice was paid on 10/29/13 with card ending in 0781</p>


						<div class="text-center padder-v m-b">
							<p class="h1">$19.99</p>
							<span>@Level 1 usage</span>
						</div>
					<div class="text-center">
						<button class="btn btn-white btn-block m-b-s">Download Invoice</button>
						<button class="btn btn-white btn-block">View Past Invoices</button>
					</div>
				</div>
			</div>


		</section>

	</div>
</div>



<section class="panel m-t-lg hidden">

	<div class="panel-body text-center">              

		<div class="row">
			<div class="col-md-4 padder-v">
				<h2 class="thin m-n">1,245</h2>
				<span>visits</span>
			</div>
			<div class="col-md-4 padder-v">
				<h2 class="thin m-n">20GB</h2>
				<span>bandwidth</span>
			</div>
			<div class="col-md-4 padder-v">
				<h2 class="thin m-n">1gb</h2>
				<span>storage</span>				
			</div>
		</div>

		<div class="line pull-in"></div>
		

		<div class="row">
			<div class="col-md-8">
				<div class="sparkline" data-type="line" data-resize="true" data-height="100" data-width="100%" data-line-width="1" data-line-color="#afcf6f" data-spot-color="#afcf6f" data-fill-color="rgba(240,240,240,0.5)" data-highlight-line-color="#e1e5e9" data-spot-radius="4" data-data="[120,250,200,325,400,380,250,320,345,250,250,250,200,325,300,365,250,210,200,180,150,160,250,250,250,200,300,310,330,250,320,205]" data-composite-config="{&quot;lineColor&quot;:&quot;#dddddd&quot;,&quot;fillColor&quot;:&quot;#ffffff&quot;,&quot;spotColor&quot;:&quot;#dddddd&quot;,&quot;spotRadius&quot;:&quot;4&quot;}" data-composite-data="[325,220,250,200,350,380,250,320,345,250,250,250,200,325,300,365,250,210,200,180,150,160,250,250,250,200,300,310,330,250,320,205]">
					<canvas style="display: inline-block; width: height: 100px; vertical-align: top;" height="100"></canvas>
				</div>				
			</div>
			<div class="col-md-4 text-center">
				<h4 class="thin">Average Response Time</h4>
				<h2 class="text-success">90ms</h2>
			</div>
		</div>
		
	
		<div class="line pull-in"></div>
		<table class="table table-striped text-thin table-invoice table-list m-n">
			<tbody class="no-border">
				<tr class="text-left">
					<td>Your Next Invoice:</td>
					<td width="120">Jan 1st</td>
					<td width="120"><span class="label label-success">Basic Plan</span></td>
					<td width="120">$19.00</td>
					<td class="text-right">	
						<button class="btn btn-white btn-sm"
						oc-show-option 
						template="app/templates/modals/comingsoon.html"><i class="icon-dollar"></i> change plan</button>
					</td>
					<td class="text-right">
						<button class="btn btn-sm btn-white"
						oc-show-option 
						template="app/templates/modals/comingsoon.html">past invoices <i class="icon-chevron-right"></i></button>
					</td>
				</tr>
			</tbody>
		</table>		

		
		
	</div>
</section>








<section class="panel m-t-lg hidden">
	<header class="panel-heading">
		<p class="h4 m-n">Site Managers</p>
	</header>
	<div class="panel-body text-center no-padder" ng-init="showSiteManagers=false">              

		<table class="table table-striped m-n" ng-show="showSiteManagers==true">

			<tbody>
				<tr ng-repeat="user in Data.sites.collaborators">
					<td class="v-middle">
						<div class="btn-group">
							<button class="btn btn-white btn-xs dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i></button>
							<ul class="dropdown-menu" style="left:100%; bottom:inherit; top:-10px;">
								<li><a href="#"><i class="icon-beaker"></i> Delete User</a></li>
							</ul>
						</div>
					</td>				
					<td class="v-middle">
						<a href="#" class="thumb-sm">
							<img src="assets/avatar.jpg" class="img-circle">
						</a>
					</td>
					<td class="v-middle"><a bs oc-show-detail template="app/templates/modals/user.detail.html" input="Data" output="user" text="{{user.name}}" href="#modal-user-details" class="block">{{user.name}}</a></td>
					<td class="v-middle"><i class="icon-map-marker"></i>  {{user.company}}</td>
					<td class="v-middle"><span ng-repeat="role in user.roles">{{role}},</span></td>
					<td class="text-center v-middle" ng-switch="user.status">
						<span class="label label-warning" ng-switch-when="pending">request pending...</span>
						<span class="label label-success" ng-switch-when="active">active</span>

					</td>				
				</tr>
			</tbody>
		</table>		
		
		<div class="message empty" ng-hide="showSiteManagers==true">
			<h3 class="text-thin">You don't have any Site Managers.</h3>
			<p>A site manager can have access to sites you asign them.  Adding someone as a site manager is agreat way 
				for your web developer to do site maintence.</p>
				
				<button class="btn btn-sm btn-white" ng-click="showSiteManagers=!showSiteManagers" oc-show-option template="app/templates/modals/comingsoon.html">Add a site manager</button>
		</div>
	

	</div>
</section>

<br>
<br>
<hr>
 
		<div class="row">
			<div class="col-lg-4">
				<button class="btn btn-block btn-white btn-lg" oc-show-option template="app/templates/modals/comingsoon.html">Transfer Ownership</button>
			</div>
			<div class="col-lg-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, necessitatibus quisquam nam vel ad labore quos numquam eum.</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-4">
				<button class="btn btn-block btn-white btn-lg" oc-show-option template="app/templates/modals/comingsoon.html">Suspend/Delete Site</button>
			</div>
			<div class="col-lg-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, necessitatibus quisquam nam vel ad labore quos numquam eum.</p>
			</div>
		</div>
		
<hr>




