<div class="panel" style="">
<section class="hbox stretch bg-white-only">
  <!-- .aside -->
  <aside class="aside aside b-r">
    <section class="vbox">
      <nav class="nav-primary hidden-xs">
        <ul class="nav">
          <li class="active" style="position:relative;">
            <a bs href="#widget-setup-themes" data-toggle="tab">
              <span>Themes</span>
              <div class="active-arrow"><span class="arrow left"></span></div>
            </a>
          </li>
          <li class="">
            <a bs href="#widget-setup-plugins" data-toggle="tab">
              <span>Plugin</span>
               <div class="active-arrow"><span class="arrow left"></span></div>
           </a>
          </li>
          <li class="">
            <a bs href="#widget-setup-pages" data-toggle="tab">
              <span>Pages</span>
              <div class="active-arrow"><span class="arrow left"></span></div>
            </a>
          </li>
          <li class="">
            <a bs href="#widget-setup-nav" data-toggle="tab">
              <span>Nav</span>
              <div class="active-arrow"><span class="arrow left"></span></div>
            </a>
          </li>
        </ul>
      </nav>
    </section>
  </aside>
  <!-- /.aside -->
  <!-- .aside -->
  <aside class="">
    <section class="">
      
      <div class="tab-content">              
        <div class="tab-pane active" id="widget-setup-themes">

          <header class="header bg-white pos-rlt navbar navbar-default show">
            <p class="h4">Select a theme</p>
          </header>
          <section class="wrapper">
            <div ng-include src="'partials/patterns/list/themes/defaults.theme.list.html'"></div>

          </section>

        </div>
        <div class="tab-pane " id="widget-setup-plugins">
          
        </div>
        <div class="tab-pane " id="widget-setup-pages">
          
        </div>        
        <div class="tab-pane " id="widget-setup-nav">
          
        </div>        
      </div>


      
    </section>
  </aside>
  <!-- /.aside -->
</section>
</div>