<div class="row">
     <div class="col-md-2">
          <select name="account" class="form-control m-b">
               <option>Upload a theme</option>
               <option>Download a theme</option>
               <option>Add from Github</option>
               <option>Add from Dropbox</option>
          </select>    				

     </div>
     <div class="col-md-6">
          <div class="input-group">
               <input type="text" class="form-control">
               <span class="input-group-btn">
                    <button class="btn btn-white" type="button">Select File</button>
               </span>
          </div>
     </div>

</div>

<table class="table table-striped">
     <tbody>
          <tr>
               <td class="col-md-2">
                    <a href="#" class="thumbnail">
                         <img src="img/theme1.jpg" alt="">
                    </a>
               </td>
               <td class="col-md-6">
                    <h3 class="">Product</h3>
                    <strong class="block m-b-sm">by: Jewelleries</strong>
                    <p>
                         product® responsive wordpress theme is best way to present your product. period. Theme is modern, clean, fully responsive with a lot of features …

                    </p>


               </td>
               <td class="text-right v-middle">
                    <a href="#" class="text-danger m-r"><i class="icon-trash"></i> remove</a>
                    <a href="#" class="btn btn-info">Save to your themes <i class="icon-chevron-right"></i></a>
               </td>
          </tr>
     </tbody>
</table>
