
    <header class="panel-heading"><p class="h3">Select a plan</p></header>

<section class="hbox stretch  bg-dark lter">
    <section>
        <div class="wrapper">
            <h4>Plan Number One</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, beatae saepe nisi dicta labore cum ad molestias magnam esse tempore.</p>
            <ul class="">
                <li>20gb Storage</li>
                <li>20k Traffic</li>
                <li class="lead">$19.99 / mo</li>
            </ul>
            <form class="form-inline">
                <div class="radio m-l-xs m-r-xs">
                    <label>
                        <input type="radio">
                    </label>
                </div>
                <button type="submit" class="btn btn-white">Select Plan</button>
            </form>
        </div>
    </section>
    <section class="bg-success">
        <div class="wrapper">
            <h4>Most Popular Plan</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, beatae saepe nisi dicta labore cum ad molestias magnam esse tempore.</p>
            <ul class="">
                <li>20gb Storage</li>
                <li>20k Traffic</li>
                <li class="lead">$19.99 / mo</li>
            </ul>   
            <form class="form-inline">
                <div class="radio m-l-xs m-r-xs">
                    <label>
                        <input type="radio">
                    </label>
                </div>
                <button type="submit" class="btn btn-white">Select Plan</button>
            </form>

        </div>
    </section>
    <section>
        <div class="wrapper">
            <h4>Enterprise Plan</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, beatae saepe nisi dicta labore cum ad molestias magnam esse tempore.</p>
            <ul class="">
                <li>20gb Storage</li>
                <li>20k Traffic</li>
                <li class="lead">$19.99 / mo</li>
            </ul>
            <form class="form-inline">
                <div class="radio m-l-xs m-r-xs">
                    <label>
                        <input type="radio">
                    </label>
                </div>
                <button type="submit" class="btn btn-white">Select Plan</button>
            </form>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <h4>Development Site</h4>
            <p>You can start by setting up a temporary (5 day), private development site.  Kick the tires, show a client, then convert it to a paying plan and go live.</p>
            <ul class="">
                <li>5gb Storage</li>
                <li>1k Traffic</li>
                <li class="lead">$free / as in beer</li>
            </ul>
            <form class="form-inline">
                <div class="radio m-l-xs m-r-xs">
                    <label>
                        <input type="radio">
                    </label>
                </div>
                <button type="submit" class="btn btn-white">Start</button>
            </form>
        </div>
    </section>                                        
</section> 