<div class="table-responsive">
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="20"><input type="checkbox"></th>
				<th width="80"></th>
				<th class="th-sortable" data-toggle="class">Name
					<span class="th-sort">
						<i class="icon-sort-down text"></i>
						<i class="icon-sort-up text-active"></i>
						<i class="icon-sort"></i>
					</span>
				</th>
				<th class="" >Company</th>
				<th class="">Roles</th>
				<th class="">Managing</th>
				<th class="text-right" width="200">Manager Options</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in Data.sites.collaborators">
				<td class="v-middle"><input type="checkbox" name="post[]" value="2"></td>
				<td class="v-middle">
					<a href="#" class="thumb-sm">
						<img src="{{user.image}}" class="img-circle">
					</a>
				</td>
				<td class="v-middle">{{user.name}}</td>
				<td class="v-middle"><i class="icon-map-marker"></i>  {{user.company}}</td>
				<td class="v-middle"><span ng-repeat="role in user.roles">{{role}},</span></td>
				<td class="v-middle">3</td>
				<td class="text-center v-middle" ng-switch="user.status">
					<span class="label label-warning" ng-switch-when="pending">request pending...</span>
					<div class="btn-group" ng-switch-when="active">
						<a href="{{ baseurl }}/sites/mysiteid" class="btn btn-danger btn-xs text-xs"><i class="icon-remove icon-white"></i> remove</a>
						<button href="#modal-user-details" data-toggle="modal" class="btn btn-white btn-xs text-xs"><i class="icon-pencil icon-white"></i> details</button>
					</div>
				</td>				
			</tr>
		</tbody>
	</table>
</div>