

<div class="upload-bar clearfix" wp-search>
  
  <div class="navbar m-n" >
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="input-sm form-control" placeholder="WordPress.org Plugin Database" ng-model="searchField">
      </div>
      <button class="btn btn-sm btn-white" type="button" ng-click="search()">Search</button>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <span class="m-r">Add your own plugins:</span>
        <button class="btn btn-white  navbar-btn" data-toggle="modal" href="#modal-upload">
          <i class="icon-cloud-upload text"></i> upload
        </button> 
        <button class="btn btn-white navbar-btn " data-toggle="modal" href="#modal-github">
          <i class="icon-github text"></i> github
        </button> 
        <button class="btn btn-white navbar-btn " data-toggle="modal" href="#modal-dropbox">
          <i class="icon-dropbox text"></i> dropbox
        </button>
      </li>

    </ul>
  </div>


  <section class="panel bg-info b"  ng-show="plugins" style="margin-bottom:60px;">
    <header class="panel-heading bg-info b-b">
      <a bs href="#" class="pull-right" ng-click="clear()"><i class="icon-remove"></i> clear</a>
      <h4 class="font-thin padder">Search Results:</h4>
    </header>
    
    <section class="panel-body bg-light no-padder" style="height:300px; overflow:auto;">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr ng-repeat="plugin in plugins">
            <td class="v-middle">
              <button class="btn btn-default btn-xs" ng-click="add(plugin)"><i class="icon-plus"></i></button>
            </td>
            <td width="250">
              <div><h5>{{plugin.name}}</h5></div>
            </td>
            <td>
              <div ng-bind-html="plugin.short_description"></div>
            </td>
            <td>
              <div>by: <span ng-bind-html="plugin.author"></span></div>
            </td>
            <td>
              <small class="block">
                Version {{plugin.version}} 
              </small>
            </td>
            <td>
              <a href="{{plugin.homepage}}" target="_blank">view</a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>







  <div class="table-responsive">
    <table class="table table-striped text-sm table-bordered">
      <thead>
        <tr>
          <th width="20"><input type="checkbox"></th>
          <th width=""></th>
          <th class="th-sortable" data-toggle="class">Plugin
            <span class="th-sort">
              <i class="icon-sort-down text"></i>
              <i class="icon-sort-up text-active"></i>
              <i class="icon-sort"></i>
            </span>
          </th>
          <th>description</th>
          <th>bundles</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="plugin in Data.wordpress.plugins">
          <td class="v-middle"><input type="checkbox" value="theme" ng-click="updateSelection(theme)"></td>
          <td class="v-middle">
            <div class="btn-group">
              <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i></button>
              <ul class="dropdown-menu" style="left:100%; bottom:inherit; top:-10px;">
                <li><a href="#">Delete</a></li>
                <li><a href="#">Build from template</a></li>
                <li><a href="#">Add to Package</a></li>

              </ul>
            </div>
          </td>          
          <td class="v-middle"><h5>{{plugin.name}}</h5></td>
          <td class="v-middle">{{plugin.short_description}}</td>
          <td class="v-middle">
            <div select-tags>
              <div class="select2-container select2-container-multi" id="" style="width:260px">
                <ul class="select2-choices">  
                  <li class="select2-search-choice">    
                    <div>brown</div>    
                    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
                  </li>
                  <li class="select2-search-field">    
                    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="" style="width: 20px;">
                  </li>
                </ul>
              </div>
              <input type="hidden" id="" style="width:260px" value="brown" tabindex="-1" class="select2-offscreen">
            </div>
          </td>
          
        </tr>

      </tbody>
    </table>
  </div>