<div class="table-responsive">
	
	<table class="table table-striped table-bordered">
		<thead>
			<th width="20"></th>
			<th width="80">Theme</th>
			<th class="th-sortable" data-toggle="class">Site
				<span class="th-sort">
					<i class="icon-sort-down text"></i>
					<i class="icon-sort-up text-active"></i>
					<i class="icon-sort"></i>
				</span>
			</th>
			<th class="text-center" width="100">Status</th>
			<th class="text-center" width="100">Wp-Admin</th>
			<th class="text-center" width="100">Options</th>			
		</thead>
		<tbody>
			<tr ng-repeat="site in Data.sites.mySites">
				<td class="v-middle">
					<div class="btn-group">
						<button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i></button>
						<ul class="dropdown-menu" style="left:100%; bottom:inherit; top:-10px;">
							<li><a href="#"><i class="icon-beaker"></i> Maintence Mode</a></li>
							<li><a href="#"><i class="icon-eye-open"></i> Private</a></li>
							<li><a href="#"><i class="icon-remove"></i> Delete</a></li>

						</ul>
					</div>
				</td>
				<td class="v-middle"><img src="{{site.image}}" class="thumb" alt=""></td>
				<td class="v-middle"><a oc-show-detail template="app/templates/sites.detail.html" output="site" text="{{site.url}}" bs href="#/sites/detail" class="block">{{site.url}}</a></td>
				<td class="text-center v-middle" ng-switch="site.status">

					<span class="text-success" ng-switch-when="live"><i class="icon-ok"></i></span>
					<span class="text-default" ng-switch-when="private"><i class="icon-eye-open"></i></span>
					<span class="text-warning" ng-switch-when="maintainence"><i class="icon-beaker"></i></span>

				</td>
				<td class="text-center v-middle"><a href="#" oc-show-detail template="app/templates/sites.wpadmin.html" output="site" bs>Login</i></a></td>
				<td class="text-right v-middle">
					<div class="btn-group" ng-switch="site.status">
						<a bs href="#" class="btn btn-success btn-xs text-xs" ng-switch-when="maintainence"><i class="icon-cloud-upload icon-white"></i> go live</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

</div>