<div class="navbar m-n">
  <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="input-sm form-control" placeholder="WordPress.org Theme Database">
      </div>
      <button type="submit" class="btn btn-sm btn-white">Search</button>
  </form>
 
  <ul class="nav navbar-nav navbar-right">
    <li>
      <span class="m-r">Custom themes:</span>
      <button class="btn btn-white  navbar-btn" data-toggle="modal" href="#modal-upload">
        <i class="icon-cloud-upload text"></i> upload
      </button> 
      <button class="btn btn-white navbar-btn " data-toggle="modal" href="#modal-github">
        <i class="icon-github text"></i> github
      </button> 
      <button class="btn btn-white navbar-btn " data-toggle="modal" href="#modal-dropbox">
        <i class="icon-dropbox text"></i> dropbox
      </button>
    </li>

  </ul>
</div>


  <div class="table-responsive">
    <table class="table table-striped text-sm table-bordered">
      <thead>
        <tr>
          <th width="20"><input type="checkbox"></th>
          <th width=""></th>
          <th width="80"></th>
          <th class="th-sortable" data-toggle="class">Theme
            <span class="th-sort">
              <i class="icon-sort-down text"></i>
              <i class="icon-sort-up text-active"></i>
              <i class="icon-sort"></i>
            </span>
          </th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="theme in Data.wordpress.themes">
          <td class="v-middle"><input type="checkbox" value="theme" ng-click="updateSelection(theme)"></td>
          <td class="v-middle">
            <div class="btn-group">
              <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i></button>
              <ul class="dropdown-menu" style="left:100%; bottom:inherit; top:-10px;">
                <li><a href="#">Delete</a></li>
                <li><a href="#">Build from template</a></li>
                <li><a href="#">Add to Package</a></li>

              </ul>
            </div>
          </td>          
          <td class="v-middle"><img src="{{theme.image}}" class="thumb" alt=""></td>
          <td class="v-middle"><h5>{{theme.name}}</h5></td>
          <td class="v-middle">{{theme.description}}</td>
          
        </tr>

      </tbody>
    </table>
  </div>