<div class="panel">
  <header class="panel-heading">
    <p class="h3">Log In to WP Sites</p>
  </header>
  <section class="panel-body">
    <input type="text" class="form-control text-sm" placeholder="Email or username" ng-model="login.email">
      <br>
      <input type="password" class="form-control text-sm" placeholder="password" ng-model="login.password">
      <br>
      <div class="">
                <button class="btn btn-success" type="button" style="width:100px" ng-click="login()"> Login <i class="icon-arrow-right"></i></button> <p class="inline  m-l-lg font-thin">Don't have an account?  No problem, you can <a href="#/signup"><span class="text-info">signup for free</span></a></p>
      </div>

  </section>
</div>
