<div class="modal" id="billingModal" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content  animated fadeInRightBig">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Add Billing</h4>
      </div>
      <div class="modal-body">
            
        <div class="row m-b">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
        </div>
        <div class="row m-b">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Street Address">
            </div>
        </div>
        <div class="row m-b">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="State">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Zip">
            </div>            
        </div>
        <div class="row m-b">
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="USA">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Phone Number">
            </div>
        </div>

        <h3>Credit Card Info</h3>
        <div class="row m-b">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Credit Card Number">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="CVV">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Expires mm/yyyy">
            </div>            
        </div>
        <div class="row m-b">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="The name on this card">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Promo Code?">
            </div>
        </div>
        <br>
        <button class="btn btn-success btn-lg btn-block">Add Credit Card</button>        




      </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog --></div>