<div class="modal" id="billingModal" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content  animated fadeInRightBig">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Add Billing</h4>
      </div>
      <div class="modal-body">
            
        {% include 'patterns/form.cc.html' %}
        <br>
        <button class="btn btn-success btn-lg btn-block">Add Credit Card</button>        




      </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog --></div>