<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">General</p>
	</header>
	<div class="panel-body">              
		
		<div ng-include src="'app/templates/wordpress/general.html'"></div>
		
	</div>
</section>

<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Reading</p>
	</header>
	<div class="panel-body">              
		
		<div ng-include src="'app/templates/wordpress/reading.html'"></div>
		
	</div>
</section>


<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Writing</p>
	</header>
	<div class="panel-body">              
		
		<div ng-include src="'app/templates/wordpress/writing.html'"></div>
		
	</div>
</section>


<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Discussion</p>
	</header>
	<div class="panel-body">              
		
		<div ng-include src="'app/templates/wordpress/discussion.html'"></div>
		
	</div>
</section>

<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Media</p>
	</header>
	<div class="panel-body">              
		
		<div ng-include src="'app/templates/wordpress/media.html'"></div>
		
	</div>
</section>

<section class="panel m-t-lg">
	<header class="panel-heading">
		<p class="h4 m-n">Permalinks</p>
	</header>
	<div class="panel-body">              
		
		<div ng-include src="'app/templates/wordpress/permalinks.html'"></div>
		
	</div>
</section>
