<div class="wrapper">
	
	<header class="heading ">
		<p class="h4">Select from your Plugins</p>
		<p class="thin">Your plugins will be added to this installation and activated automtically.</p>
	</header>

<hr>
	<section>
        <div class="table-responsive">
          <table class="table table-striped text-sm table-bordered">
            <thead>
              <tr>
                <th width="20"><input type="checkbox"></th>
                <th width="200" class="th-sortable" data-toggle="class">Theme
                  <span class="th-sort">
                    <i class="icon-sort-down text"></i>
                    <i class="icon-sort-up text-active"></i>
                    <i class="icon-sort"></i>
                  </span>
                </th>
                <th>description</th>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="item in Data.wordpress.plugins">
                <td class="v-middle"><input type="checkbox" value="{{item}}" check-list="output"></td>
                <td class="v-middle"><h5>{{item.name}}</h5></td>
                <td class="v-middle">{{item.short_description}}</td>

              </tr>

            </tbody>
          </table>
        </div>
	</section>

	<button class="btn btn-primary" ng-click="close()">Done</button>

</div>