<div class="wrapper">
	
	<header class="heading ">
		<p class="h4">Select from your Plugins</p>
		<p class="thin">Your plugins will be added to this installation and activated automtically.</p>
	</header>

<hr>
	<section>
        <div class="table-responsive">
          <table class="table table-striped text-sm">

            <tbody>
              <tr ng-repeat="item in Data.wordpress.plugins">
                <td class="v-middle"><input type="checkbox" value="{{item}}" check-list="output"></td>
                <td width="250">
                  <h4 class="m-n font-thin">{{item.name}}</h4>
                  <small>by: <span ng-bind-html-unsafe='{item.author}'></span></small>
                </td>
                <td>
                  <p class="font-thin">{{item.short_description}}</p>
                </td>
              </tr>
              <!-- <tr ng-repeat="item in Data.wordpress.plugins">

                <td class="v-middle"><input type="checkbox" value="{{item}}" check-list="output"></td>
                <td class="v-middle"><h5>{{item.name}}</h5></td>
                <td class="v-middle">{{item.short_description}}</td>

              </tr> -->

            </tbody>
          </table>
        </div>
	</section>

	<button class="btn btn-primary" ng-click="close()">Done</button>

</div>