<div class="wrapper">
                        <h3 class="m-t-none m-b">Invite a Collaborator</h3>
                    <p>If your collaborator doesn't have a username, just use their email and we'll send them an invite.</p>
                    <form role="form">
                        <div class="form-group">
                            <label>Username or Email</label>
                            <input type="email" class="form-control" placeholder="Username or Email">
                        </div>
                        
                        <div class="checkbox m-t-lg">
                            <label>
                                <input type="checkbox"> I would like this person to administer my account
                            </label>

                            <a href="#" class="block"><span class="text-info">what does this mean?</span></a>
                        </div>    
                        <br>
                        <button type="submit" class="btn btn-sm btn-success text-uc m-t-n-xs"><strong>Send Invite</strong></button>
                        <a href="#"><span class="">cancel</span></a>
                        
                    </form>


</div>

