<div class="wrapper">
    <table class="table m-n no-border" style="">
        <tbody>
            <tr>
                <td class="aside-lg text-center padder-n" style="padding:0; border:0;">
                    <div style="height:100px; overflow:hidden;">
                        <img src="{{input.image}}" style="display:block; width:100%; height:auto; margin:0 auto; position:relative; top:-20px">
                    </div>

                </td>
                <td class="v-middle" style=" border:0;">
                    <p class="h1">{{input.url}}</p>
                <button class="btn btn-white" oc-show-option template="app/templates/modals/add.themes.html">click</button>

                </td>


            </tr>
        </tbody>
    </table>

    <hr>


    <header class="panel-heading bg-light">

        <ul class="nav nav-tabs">
            <li class="active"><a bs href="#account" data-toggle="tab">Account</a></li>
            <li><a bs href="#wordpress" data-toggle="tab">WordPress</a></li>
            <li><a bs href="#devsite" data-toggle="tab">Development</a></li>
            <li class=""><a bs href="#activity" data-toggle="tab">Backups</a></li>
            <li class=""><a bs href="#activity" data-toggle="tab">Domain & Email</a></li>
        </ul>

    </header>


    <div class="panel-body no-padder">
        <div class="tab-content">              
            <div class="tab-pane  active" id="account">

                <ng-include src="'app/templates/pages/site.account.html'"></ng-include>


            </div>
            <div class="tab-pane" id="wordpress">

                <ng-include src="'app/templates/pages/site.wordpress.html'"></ng-include>


            </div>
            <div class="tab-pane" id="devsite">
                <ng-include src="'app/templates/pages/site.dev.html'"></ng-include>

            </div>
            <div class="tab-pane" id="new-site">

            </div>
        </div>
    </div>        	

</div>