<div class="wrapper">
	
	<header class="heading ">
		<p class="h4">Upload a new theme</p>
		<p class="thin">Add a custom or purchased theme.</p>
	</header>

<hr>
	<section ng-init="addFile=false">
      
      <div ng-hide="addFile==true">
        <button class="btn btn-white" ng-click="addFile=true">Select a file to upload</button>


      </div>
      
      <div ng-show="addFile==true">
        <div class="table-responsive">
          <table class="table table-striped text-sm table-bordered">

            <tbody>
              <tr ng-repeat="theme in Data.data.wordpress.themes">
                <td class="v-middle"><img src="{{theme.image}}" class="thumb" alt=""></td>
                <td class="v-middle"><h5>{{theme.name}}</h5></td>
                <td class="v-middle">{{theme.description}}</td>
                <td class="v-middle"><button class="btn btn-sm btn-white" ng-click="output.push(theme)">add</button></td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" checked="checked">
              Save this theme to My Themes
            </label>
          </div>
        </div>
        <button class="btn btn-primary" ng-click="close()">Save and Close</button>
        <button class="btn btn-danger" ng-click="close()">Cancel and Delete</button>

        
      </div>

        
	</section>


</div>