 <div>
  <section wp-search>
   <div class="row">
    <div class="col-md-2">
      <select name="account" class="form-control m-b">
       <option>Search Plugins</option>
       <option>Upload a plugin</option>
       <option>Download a plugin</option>
       <option>Add from Github</option>
       <option>Add from Dropbox</option>
     </select>

   </div>
   <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="searchField">
      <span class="input-group-btn">
        <button class="btn btn-white" type="button" ng-click="search()">Search</button>
      </span>
    </div>
  </div>
  <div class="col-md-1 pull-right">
   <a bs href="#" ng-click="clear()"><i class="icon-circle-blank"></i> clear</a>
 </div>
</div>
<div ng-show="plugins" class="table-responsive" style="height:300px; overflow:auto;">
 <table class="table table-striped">
  <tbody>
   <tr ng-repeat="plugin in plugins">
    <td>
     <div><h4>{{plugin.name}}</h4></div>
     <div>by: <span ng-bind-html="plugin.author"></span></div>
     <div ng-bind-html="plugin.short_description"></div>
     <div>
      <small class="block">Version {{plugin.version}} | Number of Ratings: {{plugin.num_ratings}} | Average Rating 
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </small>
    </div>
  </td>
  <td width="250">
   <a href="{{plugin.homepage}}" target="_blank">view</a>
   <a bs href="#" class="" ng-click="add(plugin)"><i class="icon-save"></i> save to your plugins</a>
 </td>
</tr>
</tbody>
</table>
</div>
  </section>
</div>
