
<div new-site>

<div style="
    position:fixed;
    top:0;
    right:0;
    width:100px;
    height:auto;
    background:rgba(0,0,0,.2);
    color:#fff;
    white-space:pre-line;
">
{{options}}
</div>

<section class="jumbotron">
    <h2>Create a new site</h2>
</section>

<section class="clearfix">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Basic WordPress Setup</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Site URL</label>
                        <input type="text" ng-model="options.url" class="form-control" id="exampleInputEmail1" placeholder="Site Url">
                    </div>
                </div>                
                <div class="row m-b">
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Site Title</label>
                        <input type="text" ng-model="options.siteTitle" class="form-control" id="exampleInputEmail1" placeholder="Enter title">
                    </div>
                </div>
                <div class="row m-b">
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Description</label>
                        <input type="text" ng-model="options.description" class="form-control" id="exampleInputEmail1" placeholder="Site Description">                        
                    </div>
                </div>

                
            </div>
        </div>
</section>


<section class="clearfix">
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label h4">Advanced Setup</label>
            <div class="col-lg-10">
                <br>
                <div class="row m-b">
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Default Settings</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio">
                                Create a new installation with the standard WordPress default settings.
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio"  checked="checked">
                                Use your <a href="#/wordpress">custom wordpress settings</a> to start this project.
                            </label>
                        </div>  
                    </div>
                    <div class="col-md-5 col-md-push-1">
                        <div class="bg-info lter r-l text-center v-middle">
                            <div class="wrapper">
                                <p class="font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, illum totam aliquid!</p>
                            </div>
                        </div>
                    </div>
                </div>                        

                <div class="row m-b">
                    <div class="col-lg-10">
                        <label for="exampleInputEmail1">Custom Configuration</label>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="1" ng-model="toggleState.advancedSetup">
                                Setup custom themes, plugins, users, import a database and other advanced options.
                            </label>
                            <br>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
</section>



<section id="advanced-options" ng-if="toggleState.advancedSetup==true">


    <div class="form-group padder-v">
        <label for="inputEmail1" class="col-lg-2 control-label ">Themes</label>
        <div class="col-lg-10">

            <section ng-show="options.themes.length > 0">
                <div class="row">
                    <div class="col-lg-6">
                        <table class="table table-striped">
                            <tbody>
                                <tr ng-repeat="item in options.themes" ng-class="{active:item.active}">
                                    <td width="100">
                                        <img ng-src="{{item.image}}" alt="" class="thumb thumb-lg">
                                    </td>
                                    <td width="200">
                                        <h4 class="m-n m-b font-thin">{{item.name}}</h4>
                                        <small>by: <a href="#">{{item.author}}</a></small>
                                    </td>
                                    <td width="120" ng-switch="item.active">
                                        <button ng-switch-default class="btn btn-sm btn-white" ng-click="item.active = !item.active">activate</button>
                                        <span ng-switch-when="true">activated!</span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>                                
                    </div>
                </div>

            </section>

            <section>

                <div>
                    <button class="btn btn-white  navbar-btn" 
                    oc-show-option 
                    output="options.themes" 
                    input="Data"
                    template="templates/add.themes.tpl.html" 
                    title="my modal">
                    <i class="icon-bar-chart text"></i> 
                    Your Themes
                    </button>

                    <button class="btn btn-white  navbar-btn" 
                    oc-show-detail 
                    output="options.themes" 
                    template="templates/add.themes.tpl.html" 
                    title="my modal">
                    <i class="icon-cloud-upload text"></i> upload
                    </button> 

                </div>

            </section>
        </div>
    </div>



<div class="form-group padder-v">
    <label for="inputEmail1" class="col-lg-2 control-label ">Plugins</label>
    <div class="col-lg-10">

        <section ng-show="options.plugins.length > 0">
            <div class="row">
                <div class="col-lg-6">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="plugin in options.plugins">
                                <td>{{plugin.name}}</td>
                            </tr>
                        </tbody>
                    </table>                                
                </div>
            </div>

        </section>                    

        <section>

            <div>
                <button class="btn btn-white  navbar-btn" 
                oc-show-option 
                output="options.plugins" 
                template="app/templates/modals/add.plugins.html" 
                title="my modal">
                <i class="icon-bar-chart text"></i> Your Plugins
            </button> 
            <button class="btn btn-white  navbar-btn" 
            oc-show-option 
            output="options.plugins" 
            template="app/templates/modals/upload.plugins.html" 
            title="my modal">
            <i class="icon-cloud-upload text"></i> upload
        </button> 

    </div>

</section> 
</div>
</div>     



<div class="form-group padder-v">
    <label for="inputEmail1" class="col-lg-2 control-label ">Setup Admin User</label>
    <div class="col-lg-10">

        <section>

            <div class="row m-b-lg">
                <div class="col-lg-3">
                    <label class="control-label">Admin User Name</label>
                    <input type="text" ng-model="options.admin.username" class="form-control" placeholder="admin">
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-6">
                    <label class="control-label">Email</label>
                    <input type="email" ng-model="options.admin.email" class="form-control" placeholder="your@email.address.com">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked="checked">
                            email this person their login information.
                        </label>
                    </div>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-3">

                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" value="Password">
                    <span class="help-block m-b-none">We've auto generated a password.  You can change it if you'd like.</span>  

                </div>
                <div class="col-lg-3">

                    <label class="control-label">Password (again)</label>
                    <input type="password" class="form-control" value="Password">
                </div>                            

            </div>

        </section> 
    </div>
</div>



<div class="form-group padder-v">
    <label for="inputEmail1" class="col-lg-2 control-label">Additional Users</label>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-6">
                <section ng-show="options.wpusers.length > 0">
                    <div class="table-responsive">
                        <table class="table table-striped text-sm table-bordered">
                            <tbody>

                                <tr ng-repeat="item in options.wpusers">
                                    <td class="v-middle">{{item.username}}</td>
                                    <td class="v-middle"><h5>{{item.email}}</h5></td>
                                    <td class="v-middle">subscriber</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </section>

                <section>

                    <button class="btn btn-white  navbar-btn" oc-show-option template="app/templates/modals/add.wp.user.html" output="options.wpusers">
                        <i class="icon-user text"></i> Add an aditional WordPress user
                    </button> 

                </section>                            
            </div>
        </div>

    </div>
</div> 



<div class="form-group padder-v">
    <label for="inputEmail1" class="col-lg-2 control-label">Database</label>
    <div class="col-lg-10">

        <section>
            <div class="row">
                <div class="col-lg-6">
                    <input type="file" class="form-control" id="exampleInputEmail1" placeholder="Upload a database file">

                </div>
            </div>


        </section> 
    </div>
</div>             



<div class="form-group padder-v">
    <label for="inputEmail1" class="col-lg-2 control-label">Custom Pages</label>
    <div class="col-lg-10">

        <section>
            <div class="row">
                <div class="input-group col-md-6">
                    <input type="text" ng-model="page.title" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-white" type="button" ng-click="addItem(page, options.pages)">Add Page</button>
                    </span>
                </div>
            </div>
            <div class="row" ng-show="options.pages.length>0">
                <div class="col-md-6">
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped text-sm table-bordered">
                            <tbody>
                                <tr ng-repeat="item in options.pages">
                                    <td class="v-middle">{{item.title}}</td>
                                    <td class="v-middle text-right" width="80"><button class="btn-white btn btn-sm">Edit Content</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </section> 
    </div>
</div> 




<div class="form-group padder-v">
    <label for="inputEmail1" class="col-lg-2 control-label">Menus</label>
    <div class="col-lg-10">

        <section>

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" ng-model="menu.name" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-white" type="button" ng-click="addItem(menu, options.menus)">Add Menu</button>
                        </span>
                    </div>
                    <span class="help-block m-b-none">You can create navigation menus here and add pages to them.</span>  
                </div>

            </div>

            <div class="row" ng-show="options.menus.length>0">
                <div class="col-md-6">
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped text-sm table-bordered">
                            <tbody>

                                <tr ng-repeat="item in options.menus">
                                    <td class="v-middle">{{item.name}}</td>
                                    <td class="v-middle text-right" width="80"><button class="btn-white btn btn-sm">Add Pages</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section> 
    </div>
</div> 






<div class="form-group padder-v">
    <div class="col-lg-12">
        <label for="exampleInputEmail1" class="col-lg-2 control-label">Permalinks</label>
        <div class="col-lg-10">
            <section>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Default</span> http://projects.wp/?p=123
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Day and name</span> http://projects.wp/2013/10/15/sample-post/
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Month and name</span> http://projects.wp/2013/10/sample-post/
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Numeric</span> http://projects.wp/archives/123
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Post name</span> http://projects.wp/sample-post/
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                <span style="width:150px; display:inline-block;">Custom Structure</span> http://projects.wp/ <input type="text">
                            </label>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


</section>






<section>
    <div class="form-group padder-v">
        <div class="col-lg-12">
            <label for="exampleInputEmail1" class="col-lg-2 control-label">You're Done!</label>
            <div class="col-lg-10">
                <section>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-success btn-lg" ng-click="createSite()">Create Site</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

<br>
<br>
<br>


                                                
</section>


</div>