<div id="loginModal" class="modal in" id="ajaxModal" aria-hidden="false" style="display: block;"><div class="modal-over">
  <div class="modal-center animated flipInX" style="width:300px;margin:-380px 0 0 -150px;">


    <div class="clear">
        <div class="wrapper">
            <p class="lead text-white text-center">Log In to WP Sites</p>
        </div>
      <input type="text" class="form-control text-sm" placeholder="Email or username" ng-model="login.email">
      <br>
      <input type="password" class="form-control text-sm" placeholder="password" ng-model="login.password">
      <br>
      <div class="text-center">
                <button class="btn btn-success" type="button" style="width:100px" ng-click="login()"> Login <i class="icon-arrow-right"></i></button>

      </div>

      <hr>

      <div class="text-center text-white">Don't have an account?  No problem, you can <a href="#/signup"><span class="text-info">signup for free</span></a></div>
    </div>
  </div>
</div>
</div>
