

  <header class="bg-dark nav-bar">
    <a bs class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
      <i class="icon-reorder"></i>
    </a>
    <a href="#/" class="nav-brand" >Sites</a>
    <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
      <i class="icon-comment-alt"></i>
    </a>
  </header>





{{currentUser.attributes.username}}

  <section class="w-f">
    <div class="nav-user hidden-xs pos-rlt">            
      <div class="nav-avatar pos-rlt">
        <a href class="thumb-sm avatar animated" ng-click="logOut()">
          <img src="app/img/avatar.jpg" alt="" class="">
          <span class="m-l">Log Out</span>
        </a>
      </div>
    </div>
    <nav class="nav-primary hidden-xs">
      <ul class="nav">
        <li class="">
          <a ng-href="#/sites/">
            
            <span><i class="icon-sitemap"></i> Sites</span>
          </a>
        </li>
        <li class="">
          <a ng-href="#/wordpress/">
            
            <span><i class="icon-th-list"></i> My WordPress</span>
          </a>
        </li>
        <li class="">
          <a ng-href="#/account">
            
            <span><i class="icon-gear"></i> Account Settings</span>
          </a>
        </li>
        <li class="">
          <a ng-href="#">
            
            <span><i class="icon-comments"></i> Support</span>
          </a>
        </li>
      </ul>
    </nav>

  </section>





