<div signup>
  <div class="modal in" id="ajaxModal" aria-hidden="false" style="display: block;">
    <div class="modal-over">
    <div class="modal-center animated fadeIn" style="width:600px;margin:-380px 0 0 -300px;">

  <section class="text-white bg">
            <a class="nav-brand" href="index.html">Sites</a>
            <p class="text-center">Create Your account!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, assumenda perspiciatis accusantium?</p>

              <div class="form-group">
                <label class="control-label">Your email address</label>
                <input type="email" placeholder="test@example.com" class="form-control" value="{{signup.email}}" ng-model="signup.email">
              </div>
              <div class="form-group">
                <label class="control-label">Type a password</label>
                <input type="password" id="inputPassword" placeholder="Password" class="form-control" ng-model="signup.password">
              </div>
              <div class="form-group">
                <label class="control-label">One more time, just for fun</label>
                <input type="password" id="inputPassword" placeholder="Password again, please" class="form-control">
              </div>            
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Agree the <a href="#">terms and policy</a>
                </label>
              </div>
              <button class="btn btn-info btn-block" ng-click="doSignup()">Sign up</button>
              <br>
              <div class="line line-dashed"></div>
              <br>
              <p class="text-muted text-center"><small>Already have an account?</small> <a href="#/" class=""><span class="text-info">Sign in</span></a></p>
              
          </section>



    </div>
  </div>
  </div>

</div>