

        <section class="panel">
            <header class="panel-heading bg-light">

                <ul class="nav nav-tabs">
                    <li class="active"><a bs href="#my-sites" data-toggle="tab"><i class="icon-bar-chart text-default"></i> Your Sites</a></li>
                    <li><a bs href="#managed" data-toggle="tab"><i class="icon-cog text-default"></i> Sites You Manage</a></li>
                    <li><a bs href="#collaborators" data-toggle="tab"><i class="icon-user text-default"></i> Collaborators</a></li>
                    <li class=""><a bs href="#new-site" data-toggle="tab" class=""><i class="icon-plus text-default"></i> New Site</a></li>
                </ul>

            </header>
            <div class="panel-body">
                <div class="tab-content">              
                    <div class="tab-pane active" id="my-sites">

                        <div class="message-area">
                            <div class="alert alert-success m-t m-b-lg">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                you did it
                            </div>
                        </div>

                        <div class="navbar m-n">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active">
                                    <button type="button" href="#modal-invite" data-toggle="modal" class="btn btn-default btn-sm navbar-btn">New Site</button>
                                </li>
                            </ul>
                        </div>

                        <ng-include src="'partials/tables/sites.html'"></ng-include>


                    </div>

                    <div class="tab-pane" id="managed">

                        <div class="message-area">
                            <div class="alert alert-success m-t m-b-lg">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                You have a request pending
                            </div>
                        </div>                        

                        <ng-include src="'partials/tables/sites-managed.html'"></ng-include>


                    </div>
                    <div class="tab-pane" id="collaborators">

                        <div class="message-area">
                            <div class="alert alert-success m-t m-b-lg">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                You have a request pending
                            </div>
                        </div>  

                        <div class="navbar m-n">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active">
                                    <button type="button" href="#modal-invite" data-toggle="modal" class="btn btn-default btn-sm navbar-btn">Invite Collaborator</button>
                                </li>
                            </ul>
                        </div>

                        <ng-include src="'partials/tables/collaborators.html'"></ng-include>


                    </div>
                    <div class="tab-pane " id="new-site">
                        <div ng-include src="'templates/sites/new.site.html'"></div>
                    </div>                    
                    
                </div>
            </div>
        </section>



        <div ng-include="'partials/modals/modal.invite.collab.html'"></div>
        <div ng-include="'partials/modals/modal.user.details.html'"></div>
