
            <section class="heading main-nav">


                <div class="navbar m-n no-border">
                    <ul class="nav navbar-nav">
                        <li class="active"><a bs href="#my-sites" data-toggle="tab"><i class="icon-bar-chart text-default"></i> Your Sites</a></li>
                        <li><a bs href="#managed" data-toggle="tab"><i class="icon-cog text-default"></i> Sites You Manage</a></li>
                        <li><a bs href="#collaborators" data-toggle="tab"><i class="icon-user text-default"></i> Collaborators</a></li>
                        <!-- <li class=""><a bs href="#new-site" data-toggle="tab" class=""><i class="icon-plus text-default"></i> New Site</a></li> -->
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <button ng-click="go('/sites/new')" class="btn btn-white rounded navbar-btn">
                                <i class="icon-plus"></i> New Site
                            </button>    
                        </li>

                    </ul>
                </div>                

            </section>


            <div class="padder relative">
                <div class="tab-content">              
                    <div class="tab-pane active" id="my-sites">

                        <div class="message-area">
                            <div class="alert alert-success m-t m-b-lg">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <p>This is the message are where we can update you on things that are happening.</p>
                            </div>
                        </div>

                        <ng-include src="'app/partials/tables/sites.html'"></ng-include>


                    </div>

                    <div class="tab-pane" id="managed">

                        <div class="message-area">
                            <div class="alert alert-info m-t m-b-lg">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                You have a request pending to manage <a href="#" bs>http://managemysite.com</a>.  <button class="btn btn-sm btn-white">details</button> <button class="btn btn-sm btn-white" data-dismiss="alert">accept</button>
                            </div>
                        </div>                        

                        <ng-include src="'app/partials/tables/sites-managed.html'"></ng-include>


                    </div>
                    <div class="tab-pane" id="collaborators">

                        <div class="message-area">
                            <div class="alert alert-warning m-t m-b-lg">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                You have a request pending from <a href="" bs>User@username.com</a> to become a collaborator.  
                                <button class="btn btn-sm btn-white" oc-show-option template="app/partials/offcanvas/user.details.html">details</button> <button class="btn btn-sm btn-white" data-dismiss="alert">accept</button>
                            </div>
                        </div>  

                        <div class="navbar m-n">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active">
                                    <button type="button" oc-show-option template="app/partials/offcanvas/invite.collab.html" class="btn btn-default btn-sm navbar-btn">Invite Collaborator</button>
                                </li>
                            </ul>
                        </div>

                        <ng-include src="'app/partials/tables/collaborators.html'"></ng-include>


                    </div>
                    <div class="tab-pane " id="new-site">
                        <div ng-include src="'app/templates/sites/new.site.html'"></div>
                    </div>                    
                    
                </div>

            </div>







