        <section class="heading bg-light">


                <div class="navbar navbar-light">
                    <ul class="nav navbar-nav">
                        <li class="active"><a bs href="#themes" data-toggle="tab"><i class="icon-bar-chart text-default"></i> Your Themes</a></li>
                        <li><a bs href="#plugins" data-toggle="tab"><i class="icon-user text-default"></i> Plugins</a></li>
                        <li><a bs href="#packages" data-toggle="tab"><i class="icon-cog text-default"></i> Packages</a></li>
                        <li><a bs href="#wp-settings" data-toggle="tab"><i class="icon-cog text-default"></i> WP Settings</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right hidden">
                        <li>
                            <button type="button" href="#modal-invite" data-toggle="modal" class="btn btn-default btn-sm navbar-btn">New Site</button>
                        </li>
                    </ul>
                </div>                

            </section>


            <div class="padder">
                <div class="tab-content">              
                    

                    <div class="tab-pane  active" id="themes">
                        <div ng-include="'app/partials/tables/themes.html'"></div>
                    </div>


                    <div class="tab-pane" id="plugins">
                        <div ng-include="'app/partials/tables/plugins.html'"></div>
                    </div>


                    <div class="tab-pane " id="packages">
                        
                        <div class="wrapper bg-light lter m">
                            <p class="h4">Create a package</p>
                            <div ng-include="'app/partials/patterns/create.package.html'"></div>

                        </div>

                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="wrapper">
                            <div ng-include="'app/partials/patterns/list/packages/package.list.html'"></div>

                        </div>
                    </div>

                    <div class="tab-pane" id="wp-settings">
                        <div class="wrapper">
                            <div ng-include="'app/templates/wordpress/defaults.html'"></div>

                        </div>
                        
                    </div>
                </div>
            </div>


                            <div ng-include src="'app/partials/modals/modal.upload.html'"></div>
                            <div ng-include src="'app/partials/modals/modal.github.html'"></div>
                            <div ng-include src="'app/partials/modals/modal.dropbox.html'"></div>