        <section class="panel">
            <header class="panel-heading bg-light">

                <ul class="nav nav-tabs">
                    <li class="active"><a bs href="#themes" data-toggle="tab"><i class="icon-bar-chart text-default"></i> Your Themes</a></li>
                    <li><a bs href="#plugins" data-toggle="tab"><i class="icon-user text-default"></i> Plugins</a></li>
                    <li><a bs href="#packages" data-toggle="tab"><i class="icon-cog text-default"></i> Packages</a></li>
                    <li><a bs href="#wp-settings" data-toggle="tab"><i class="icon-cog text-default"></i> WP Settings</a></li>
                </ul>

            </header>
            <div class="panel-body no-padder">
                <div class="tab-content">              
                    

                    <div class="tab-pane  active" id="themes">
                        <div ng-include="'partials/tables/themes.html'"></div>
                    </div>


                    <div class="tab-pane" id="plugins">
                        <div ng-include="'partials/tables/plugins.html'"></div>
                    </div>


                    <div class="tab-pane " id="packages">
                        
                        <div class="wrapper bg-light lter m">
                            <p class="h4">Create a package</p>
                            <div ng-include="'partials/patterns/create.package.html'"></div>

                        </div>

                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="wrapper">
                            <div ng-include="'partials/patterns/list/packages/package.list.html'"></div>

                        </div>
                    </div>

                    <div class="tab-pane" id="wp-settings">
                        <div class="wrapper">
                            <div ng-include="'templates/wordpress/defaults.html'"></div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        
                            <div ng-include src="'partials/modals/modal.upload.html'"></div>
                            <div ng-include src="'partials/modals/modal.github.html'"></div>
                            <div ng-include src="'partials/modals/modal.dropbox.html'"></div>