
            <section class="heading main-nav">


                <div class="navbar m-n no-border">
                    <ul class="nav navbar-nav">
                        <li class="active"><a bs href="#wp-themes" data-toggle="tab"><i class="icon-bar-chart text-default"></i> Themes</a></li>
                        <li><a bs href="#wp-plugins" data-toggle="tab"><i class="icon-cog text-default"></i> Plugins</a></li>
                        <li><a bs href="#wp-options" data-toggle="tab"><i class="icon-user text-default"></i> WP Options</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <button ng-click="go('/sites/new')" class="btn btn-white rounded navbar-btn">
                                <i class="icon-plus"></i> New Site
                            </button>    
                        </li>

                    </ul>

                </div>                

            </section>


            <div class="padder relative">
                <div class="tab-content" ng-switch="toggleState.currentTab" ng-init="toggleState.currentTab='#wp-themes'">              
                    <div ng-switch-when="#wp-themes" class="tab-pane active" id="wp-themes">



                        <ng-include src="'app/templates/pages/wp.themes.html'"></ng-include>


                    </div>

                    <div ng-switch-when="#wp-plugins" class="tab-pane active" id="wp-plugins">
                 

                        <ng-include src="'app/templates/pages/wp.plugins.html'"></ng-include>


                    </div>
                    <div ng-switch-when="#wp-options" class="tab-pane active" id="wp-options">


                        <ng-include src="'app/templates/pages/wp.options.html'"></ng-include>


                    </div>
                                
                    
                </div>

            </div>

