
<div ng-include src="'partials/patterns/forms/wp-settings/privacy.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/discussions.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/media.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/permalinks.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/pages.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/plugins.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/themes.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/database.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/menus.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/admin.html'"></div>

<div ng-include src="'partials/patterns/forms/wp-settings/users.html'"></div>

















